  body{
    /*background-color: rgba(0, 0, 0, 0.753); */
    background-image: url("/billeder/forrest.jpg");
    background-size: 100em;
    background-repeat: no-repeat;
    font-family: monospace;
  }
h1{
    font-size: 300%;
    text-align: center;
}
h2{
    text-align: center;
}
ul{
  list-style-type: none;
  text-align: right;
  padding: 2%;
}
li{
  font-size: 140%;
  padding: 5px;
}
a{
  color: black;
  font-family: monospace;
  text-decoration: none;
}
#githubIcon{
  font-size: 1.5em; 
  color: black; 
  float: right; 
  cursor: pointer;
}
#undervisningsIconet{
  font-size: 1.5em; 
  color: black; 
  float: right; 
  cursor: pointer;
  padding-right: 5px;
}
.mobileBody{
  display: none;
  font-family: cursive;
  color: white;
  font-size: 150%;
  text-align: center;
  background-image: none;
}
#h1P{
  font-size: 200%;
  text-align: center;
}
#h2P{
  font-size: 150%;
  text-align: center;
}
 /*
@media screen and (max-width: 800px) {
  .defaultBody {
      display: none;
  }
  .mobileBody{
      display: inline;
  }
}
 
.container {
    width: 100%;
    transition: all 100ms;
    
  }
  
  .section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: flex .4s ease;
    position: relative;
  }
  
 .section .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;

  }  
  
  .section .content {
    z-index: 1;
  }
  
  
  .section:hover .overlay {
    background-color: rgba(2, 0, 0, 0.95);
  } 
  
 .contentBtn{ 
    color: rgb(248, 40, 3);
    text-decoration: none;
    font-size: 150%;
}

*/