body{
    background-color:black;
    font-family: Cambria;
}
h1, h3{
    color:orangered; 
    text-align: center;
}
h2{
    color:orangered; 
}
p{
    color:orange;
}
li{
    color:orange;
    font-size: 120%;
    padding: 5px;
}
a{
    color:orange
}

div{
    color: orangered
}

#ghost{
    float:right; 
    display: none;
    padding-right: 13%
}
#musikJa, #musikNej{
background-color: orangered;
border-color: orangered;
font-family: Cambria;
}

